@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply leading-[calc(1em+0.5rem)];
  }
  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-xl font-bold;
  }
  h4 {
    @apply text-xl font-bold;
  }
  p {
    @apply text-base;
  }
  img[src$="#float"] {
    width: 48%;
    float: left;
  }
  img[src$="#float"]:nth-child(even) {
    margin-left: 4%;
  }
  img[src$="#float"]:last-child::after {
    clear: both;
  }
}

@layer components {
  .accordion {
    @apply w-full text-red-primary text-4xl pr-3 py-6 mb-6 flex justify-between border-b-[1px] border-gray-200;
  }
  .btn {
    @apply text-red-primary border-[1px] border-red-primary rounded-sm text-lg w-14 py-1 md:text-xl md:w-16 md:py-2;
  }
  .btn-lg {
    @apply btn w-24;
  }
  .btn-light {
    @apply btn text-white border-white;
  }
  .btn-lg-light {
    @apply btn-lg text-white border-white;
  }
  .btn-text {
    @apply text-red-primary text-xl py-6 border-b-[1px] border-gray-200;
  }
}
